* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color:rgba(0, 0, 0, 0.171);;
    padding: 20px;
    color: black;
    text-align: center;
    position: sticky;
    top: 0px;
}
h3{
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    text-align:justify;
    line-height: 1.8;
}
a{
    text-decoration: none;
}
#backto-home{
    padding: 15px;
    border-radius: 30px;
    border-color: blueviolet;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 20px;
    text-transform: capitalize;
}
#backto-home:hover{
    color: aliceblue;
    background-color: blueviolet;
}
/* section {
    padding: 100px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
footer {
    background-color:rgba(0, 0, 0, 0.116);;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
    position: relative;
    font-size: 30px;
    width: 100%;
    bottom: 0;
    height: 100px;
}
